body {
  background: whitesmoke;
}

.container {
  width: 70%;
  margin: 0 auto;
}
.navigation {
  background: white;
  color: #666; 
  text-align: right;
  height: 50px;
  line-height: 50px;
}

.logo {
  float: left;
}

.usercontent {
  background: white;
  margin: 25px 0px;
  padding: 25px;
}